@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


div.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.header div.right {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

div.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

div.hero div.left {
    display: flex;
    flex-direction: column;
    align-items: above;
    margin-left: 175px;
}

div.hero div.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 170px;
}

div.information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

div.information div.top {
    display: flex;
    justify-content: center;
    margin: 20px;
}

div.information div.bottom {
    display: flex;
    align-items: center;
    gap: 50px;
}

div.information div.section {
    max-width: 150px;
    justify-content: space-around;
}

div.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

div.information img {
    height: 150px;
    width: 150px;
    display: flex;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

div.quotesection div.quote {
    display:flex;
} 


body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.header {
    background-color: #1F2937;
}

.hero {
    background-color: #1F2937;
}

.footer {
    background-color: #1F2937;
}

.quotesection {
    background-color: #E5E7EB;
}

div.header p.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

div.header p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 16px;
}

div.hero div.left div.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

div.hero button {
    display: flex;
    max-width: fit-content;
    margin-top:10px;
    background-color: #3882F6;
    color: white;
    border: 1px solid #3882F6;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

div.hero p {
    height: 225px;
    width: 475px;
    background-color: #E5E7EB;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.hero div.left div.herobody {
    color: #E5E7EB;
    font-size: 18px;
}


div.information div.imgp {
   text-align: center;
}

div.quotesection div.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 10%;
    font-style: italic;
}

div.quotesection div.author {
    color: black;
    font-weight: bold;
}

div.SignUp {
    background-color: #3882F6;
}

div.SignUp div.first {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
}

div.SignUp div.second {
    color: #E5E7EB;
}

div.SignUp button {
    color: #F9FAF8;
    font-weight: bold;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

div.footer p {
    color: #E5E7EB;
    font-size: 18px;
}

div.footer {
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 10px;
    margin-top: auto;
}

